@import "../../assets/utils/variables";

.main-content {
  .search-authorizations {
    margin: 0 0 0.5rem 0.5rem;
    h4 {
      font-size: 1.4rem;
      font-weight: normal;
    }
  }
  .status-selector {
    align-items: center;
    background-color: $medium-blue;
    color: $white;
    display: flex;
    justify-content: space-between;
    height: 6vh;
    margin-bottom: 1.5rem;
    padding: 0 1rem;
    .all-statuses {
      margin-right: 0.5rem;
    }
    button {
      background-color: #3474ad;
      margin-left: 5rem;
    }
  }
  hr {
    width: 89vw
  }
}