@import "../shared/variables";


.table-wrapper {

  .auth-table {
    margin-bottom: 0;
    .custom-button {
      background-color: $green-search;
      border-radius: 0.2rem;
      
      svg {
        margin: 0.3rem;
      }
      
      td {
        vertical-align: center;
      }
      
    }
  }
  
  .waiting-for-search {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    
    h3 {
      margin:10rem; 
    }
  }
}