@import '../shared/variables';

.auth-documents-wrapper {
  border: solid 1px $medium-blue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 3rem;

  header {
    align-items: center;
    background-color: $medium-blue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: $white;
    display: flex;
    height: 2rem;
    h5 {
      margin-left: 1rem;
    }
  }
}