.company {
  display: flex;
  align-items: baseline;

  label {
    margin-right: 0.5rem;
  }
  .company-input {
    display: flex;
    justify-content: flex-end;
  }
  .company-btn {
    border-radius: 3px;
  }
  .suggestions {
    background-color: white;
    position: absolute;
    top: 63px;
    left: 95px;
  }
}
