@import '../shared/variables';

.auth-details-wrapper {
  border: solid 1px $medium-blue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 4rem;

  header {
    align-items: center;
    background-color: $medium-blue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: $white;
    display: flex;
    height: 2rem;
    h5 {
      margin-left: 1rem;
    }
  }

  .auth-details-content {
    padding: 1rem;

    .btn,
    .custom-button {
      background-color: $medium-blue;
    }

    .patient-info {
      .patient-info-title {
        display: flex;
        h5 {
          margin-right: 0.5rem;
        }
      }
      h5, div {
        margin-bottom: 0.5rem;
      }
      .patient-info-button {
        border-radius: 3px;
      }
    }

    .employer-info {
      div:nth-child(n+4):nth-child(-n+5) {
        margin-bottom: 0.5rem;
      }
    }

    .visit-info {
      div {
        margin-bottom: 0.2rem;
      }
      
      .visit-date {
        label {
          margin-right: 0.5rem;
        }
      }
  
      .purchase-order,
      .clinic,
      .provider,
      .check-in-status {
        display: flex;
        align-items: baseline;
        label {
          margin-right: 0.5rem;
          width: 15vw;
        }
        input {
          width: 100%;
        }
      }
    }
  }
}
  