@import '../shared/variables';

.auth-details-wrapper {
  border: solid 1px $medium-blue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 4rem;

  header {
    align-items: end;
    background-color: $medium-blue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: $white;
    display: flex;
    height: 2rem;
    h5 {
      margin-left: 1rem;
    }
    .edit-authorization-btn {
      border-radius: 3px;
    }
  }

  .auth-details-content {
    padding: 1rem;

    .btn,
    .custom-button {
      background-color: $medium-blue;
    }

    .employer-info {
      div:nth-child(n+4):nth-child(-n+5) {
        margin-bottom: 0.5rem;
      }
    }

    .visit-info {
      div {
        margin-bottom: 0.2rem;
      }
    }
  }

  .auth-details-content-gate {
    pointer-events: none;
  }
}
  