.job-number {
  display: flex;
  align-items: baseline;

  label {
    margin-right: 0.5rem;
  }
  .job-number-input {
    display: flex;
    justify-content: flex-end;
  }
  .job-btn {
    border-radius: 3px;
  }
}
