.job-number {
  margin-bottom: 1rem;
  label {
    margin-right: 0.5rem;
  }
  .job-number-input-contents {
    display: flex;
    justify-content: flex-end;
  }
  .job-btn {
    border-radius: 3px;
  }
}
