@import "../../components/shared/variables";

.authorization-search {
  display: flex;
  align-items: center;

  input {
    width: 30vw;
  }

  button {
    border-radius: 0 10% 10% 0;
    height: 100%;
    background-color: $green-search;
  }
}
