.provider {
  display: flex;
  align-items: baseline;

  label {
    margin-right: 0.5rem;
  }
  .provider-input-content {
    display: flex;
    justify-content: flex-end;
  }
  .provider-btn {
    border-radius: 3px;
  }
}
